.AboutContainer {
  background-color: white;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  text-align: left;
  border: 1px solid silver;
  padding: 40px 20px;
  border-radius: 15px;
  -webkit-box-shadow: 5px  #888888;
          box-shadow: 5px  #888888;
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}

.AboutContainer p {
  font-size: 11px;
  color: gray;
  line-height: 25px;
}

.AboutContainer h2 {
  margin: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: left;
}

.rewardCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  text-align: left;
  position: relative;
  border: 1px solid silver;
  padding: 20px;
  border-radius: 15px;
  -webkit-box-shadow: 5px  #888888;
          box-shadow: 5px  #888888;
  margin-top: 20px;
}

.rewardCard h3 {
  margin: 0;
}

.rewardCard p {
  font-size: 11px;
  color: gray;
  line-height: 25px;
}

.rewardCard span {
  font-size: 11px;
  color: #147b74;
  margin-top: 15px;
}

.rewardCard div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rewardCard a {
  text-decoration: none;
  color: white;
  background-color: #147b74;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 15px 30px;
  border-radius: 30px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#outOfStockCard {
  opacity: 0.5;
}

#outOfStockCard a {
  background-color: #7a7a7a;
}

.thankCard {
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border: 1px solid silver;
  padding: 40px 20px;
  border-radius: 15px;
  -webkit-box-shadow: 5px  #888888;
          box-shadow: 5px  #888888;
  max-width: 290px;
  background-color: white;
}

.thankCard a {
  text-decoration: none;
  color: white;
  background-color: #147b74;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 15px 30px;
  border-radius: 30px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.blur {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  width: 100vw;
  min-height: 100vh;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.6);
  padding: 0;
}

#hide {
  display: none;
}

#show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=About.css.map */