@media (min-width:800px) {
  .App{
    background-image: url(./images/image-hero-desktop.jpg);
  }
}
@media (max-width:800px) {
  .App{
    background-image: url(./images/image-hero-mobile.jpg);
  }
}
.App{
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
}